/* General Container */
.app-home-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-self: flex-start;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 2rem;
}

/* Logo */
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 5;
    width: 60%;
    margin: auto;
}

.club-logo {
    width: 100%;
    height: auto;
    max-height: 80vh;
}

.app-home-content {
    flex: 5;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-self: center;

    .buttons-container {
        display: flex;
        gap: 2rem;
        justify-content: space-around;
    }
}

/* Club Info */
.club-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    h1{
        margin-block-end: 0;
    }
}




@media (max-width: 1000px) {
    .app-home-container {
        flex-direction: column;
    }
}