/* General styles for the calendar container */
.calendar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    //background-color: #907665;
}

.rbc-calendar{
    height: 90vh;
    width: 80vw;
}

/* Styles for the calendar wrapper */
.calendar-wrapper {
    height: 90vh;
    width: 80vw;
    background-color: #907665;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

/* Title styles */
.calendar-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}



.event-button:hover {
    background: #9b1305;
}

/* React Big Calendar overrides */
.rbc-calendar {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rbc-toolbar {
    background-color: #7C0A01;
    color: white;
    padding: 10px;
    border-radius: 8px 8px 0 0;
}

.rbc-toolbar button {
    background-color: white;
    color: #7C0A01;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 4px;
    cursor: pointer;
}

.rbc-toolbar button:hover {
    background-color: #f5f5f5;
}

.rbc-month-view {
    border-radius: 0 0 8px 8px;
}

/* Adjust colors for events */
.rbc-event {
    background-color: #7C0A01;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 2px 5px;
}
.event-icon {
    margin-right: 5px;
}
