.rbc-calendar {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 90vh;
}

.calendarEvent-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    width: 100%;
}

.calendarEvent {
    width: 100%;
}

.rbc-toolbar {
    background-color: var(--secondary-container-color);
    color: white;
    padding: 10px;
    border-radius: 8px 8px 0 0;
}

.rbc-toolbar button {
    background-color: var(--button-color);
    color: var(--secondary-text-color);
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 4px;
    cursor: pointer;
}

.rbc-toolbar button:hover {
    color: var(--text-color);
    background-color: var(--secondary-button-color);
}

.rbc-month-view {
    border-radius: 0 0 8px 8px;
}

/* Estilo base para los eventos sin definir el color de fondo */
.rbc-event {
    background-color: white;
    color: #3D0C01;
    /* Color del texto */
    border: none;
    border-radius: 4px;
    padding: 2px 5px;
    text-align: left;
}

.rbc-event-selected {
    background-color: white;
    color: #3D0C01;
    /* Color del texto */
    border: none;
    border-radius: 4px;
    padding: 2px 5px;
    text-align: left;
}

.event-icon {
    margin-right: 5px;
}

.event-button:hover {
    background: #9b1305;
}

/* Filtro de eventos */
.filter-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    gap: 1rem;

    button {
        margin: auto;
    }
}