.change-password-container{
    width: 45%;
    margin: 50px auto;
    padding: 3rem;
    border: 1px solid #3D0C01;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #3D0C01;

    h2 {
        text-align: center;
        margin: 0;
        padding-bottom: 1rem;
        color: #CC9901;
        font-size: 4rem;
        font-weight: lighter;
    }
}

.change-password-button{
    width: 100%;
    padding: 10px;
    background-color: #CC9901;
    color: #3D0C01;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}