.home-Container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.home-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 1.5rem;
    margin-top: 0;
    padding: 0;
}

.what-is-PK {
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 600;
    padding: 2rem 5rem 3rem 5rem;

    h1 {
        border-bottom: 3px inset var(--secondary-text-color);
    }
}


.why-PK {
    display: flex;
    text-align: end;
    justify-content: space-between;
    gap: 20px;
    font-weight: 600;
    padding: 2rem 5rem 5rem 3rem;

    h1 {
        border-bottom: 3px inset var(--secondary-text-color);
    }

    .home-image-content {
        display: block;
        width: 20%;
        margin-right: 100px;
        object-fit: cover;
        opacity: 0.8;
        mask-image: linear-gradient(to right, #05161A 50%, transparent 100%);
    }

}

.why-PK-content {
    display: flex;
    flex-direction: column;
    flex: 1;




    p1 {
        margin-top: 20px;
        margin-left: 50px;
    }
}




.how-PK {
    display: flex;
    text-align: start;
    justify-content: space-between;
    gap: 20px;
    font-weight: 600;
    padding: 2rem 5rem 5rem 3rem;

    h1 {
        border-bottom: 3px inset var(--secondary-text-color);
    }

    .image-content {
        display: block;
        width: 20%;
        margin-left: 100px;
        object-fit: cover;
        opacity: 0.8;
        mask-image: linear-gradient(to left, #1a0505 50%, transparent 100%);
    }

    .res-image {
        display: none;
    }
}



.demo-PK-container {
    text-align: end;
    justify-content: space-between;
    gap: 20px;
    font-weight: 600;
    padding: 2rem 5rem 5rem 3rem;
}

.prove-PK {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
}