.login-container {
    width: 50%;
    margin: auto;
    padding: 3rem;
    border: 1px solid var(--secondary-container-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--secondary-container-color);
    color: var(--text-color);
    align-items: center;
    align-content: center;

    h2 {
        text-align: center;
        margin: 0;
        padding-bottom: 1rem;
        font-size: 4rem;

    }
}

.login-button {
    width: 100%;
    padding: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.forgot-password {
    font-size: 1rem;
    text-align: end;
    padding-top: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.new-account,
.forgot-password-link {
    color: var(--button-color);
    text-decoration: none;
}

.new-account:visited,
.new-account:active,
.forgot-password-link:visited,
.forgot-password-link:active {
    color: var(--button-color);
}

.new-account:hover,
.forgot-password-link:hover {
    color: var(--secondary-button-color);
    text-decoration: underline;
}