.login-container {
    width: 80%;
    max-width: 90%;
    margin: auto;
    padding: 3rem;
    border: 1px solid var(--secondary-container-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--secondary-container-color);
    color: var(--text-color);
    align-items: center;
    align-content: center;
}

.login-container h2 {
    text-align: center;
    margin: 0;
    padding-bottom: 1rem;
}

.login-button {
    width: 100%;
    padding: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.forgot-password {
    text-align: end;
    padding-top: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.new-account,
.forgot-password-link {
    color: var(--button-color);
    text-decoration: none;
}

.new-account:visited,
.new-account:active,
.forgot-password-link:visited,
.forgot-password-link:active {
    color: var(--button-color);
}

.new-account:hover,
.forgot-password-link:hover {
    color: var(--secondary-button-color);
    text-decoration: underline;
}

.error-message {
    font-style: italic;
    text-align: end;
    color: var(--button-color);
    font-size: calc((8px + 2vmin));
}


@media (max-width: 1000px) {
    .login-container {
        padding: 2rem;
    }

    .login-button {
        padding: 0.8rem;
    }
}

@media (max-width: 768px) {
    .login-container {
        padding: 1.5rem;
    }

    .login-container h2 {
        font-size: 2.5rem;
    }

    .forgot-password {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .new-account,
    .forgot-password-link {
        padding: 0.2rem 0;
    }
}