.container-visor {
    display: flex;
    justify-content: center; /* Centra el contenedor */
    width: 100%;
    padding: 20px;
}

.container-visor-inner {
    width: 60%; 
    max-width: 1200px; /* Ancho máximo para pantallas grandes */
    margin: 0 auto;
    ul {
        li {
            width: 100%;
            margin: 20px 0;
            padding: 2rem;
            border: 1px solid var(--secondary-container-color);
            border-radius: 8px;
            box-shadow: 0 4px 8px var(--secondary-container-color);
            background-color: var(--secondary-container-color);
    
            p {
                color: var(--text-color);
                font-weight: lighter;
            }
        }
    }
}

.evento-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

.evento-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.evento-id {
    position: absolute;
    top: 10px;
    left: 10px;
    color: var(--text-color);
    font-weight: bold;
}

.evento-estado {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--text-color);
    font-weight: bold;
}

.evento-body {
    display: flex;
    flex-direction: column;
}

.evento-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.evento-col-left {
    flex: 1;
    font-weight: bold;
    color: var(--text-color);
    text-align: left; /* Alinea el texto a la izquierda */
}

.evento-col-right {
    flex: 1;
    text-align: right;
    color: var(--text-color);
}
.title{
    width: 100%;
    text-align: center;
}