.footer {
    position: static;
    display: flex;
    background: var(--footer-color);
    color: var(--text-color);
    width: 100%;
    height: auto;
    margin-top: auto;

}

/* Other footer content styles remain the same */
.footer-content {
    width: 100%;
    padding: 1.5rem 2rem;
}

.bottom {
    display: flex;
    text-align: start;
    justify-content: space-between;
    flex: 1;
}

.bottom h2 {
    text-align: end;
    color: var(--text-color);
    font-family: 'FoghlihtenNo01';
}

.top {
    align-items: center;
    text-align: start;
    justify-content: space-between;
    padding: 0rem 0.5rem;
    flex: 1;
}

.top-logo {
    display: flex;
    gap: 15px;
}

.logo img {
    width: 100px;
}



.resp-footer1 {
    display: flex;
    flex: 1;
}

.proyect-settings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0rem 1rem 1rem 1rem;
}

.footer-columns {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    gap: 15px;
}

.social-links {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-end;
    width: 100%;
    gap: 2.5rem;

}

.bottom i {
    color: var(--button-color);
    font-size: calc(15px + 5vmin);
}

.bottom i:hover {
    color: var(--secondary-button-color);
}

.mails {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
}

.mails a {
    text-decoration: none;
    color: var(--button-color);
    gap: 20px;
}


.mails a:hover {
    color: var(--secondary-button-color);
}

.mails a:hover {
    color: var(--secondary-button-color);
}

.User-Manual {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;

    a {
        text-decoration: none;
        width: 100%;
        color: var(--button-color);

    }
}

.User-Manual a:hover {
    color: var(--secondary-button-color);

}



/* Responsive Design */
@media screen and (max-width: 1024px) {
    .top-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    .bottom {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .footer-columns {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .social-links {
        justify-content: center;
    }

    .mails {
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .top {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .bottom h1 {
        text-align: center;
    }
}

@media screen and (max-width: 480px) {

    .footer-columns {
        gap: 10px;
    }
}