.fullSocio-container {
    width: 100%;
    padding: 2rem;
}

.configurador-socio {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    width: auto;
    margin: 0 auto;
    background-color: var(--secondary-container-color);
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--secondary-container-color);
}

.configurador-header {
    color: var(--text-color);
    font-weight: bold;
    text-align: center;
    margin: 0;
}

/* Contenedor de entrada */
.input-container {
    display: flex;
    gap: 2rem;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.input-field {
    padding: 1rem;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
}


.error-message {
    color: red;
    text-align: end;
}

.user-info {
    background-color: var(--secondary-container-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--secondary-container-color);

    p {
        color: var(--text-color) !important;
        margin: 0.5rem;
    }
}

.roles-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--secondary-container-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--secondary-container-color);

    p {
        color: var(--text-color) !important;
        margin: 0.5rem;
    }

    .basic-input-checkbox-container {
        height: 35px;
    }
}

.roles-content {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    gap: 0.5rem;
}

/* Checkbox */
.checkbox-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}


.button-container {
    display: flex;
    justify-content: space-between;
}

.exit-button {
    background-color: var(--container-color);
    color: var(--button-color);
}

.exit-button:hover {
    background-color: var(--container-color);
    color: var(--text-color);
}