.fullConfig-container {
    width: 100%;
    padding: 2rem;
}

.configurador-roles-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    width: auto;
    margin: 0 auto;
    background-color: var(--secondary-container-color);
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--secondary-container-color);
}

/* Encabezado */
.configurador-roles-header {
    color: var(--text-color);
    font-weight: bold;
    text-align: center;
    margin: 0;
    margin-bottom: 2rem;
}

/* Contenedor del input y botón */
.configurador-roles-input-container {
    display: flex;
    gap: 2rem;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.configurador-roles-input {
    padding: 1rem;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Mensajes de error */
.configurador-roles-error {
    color: red;
    text-align: end;
}

/* Información del usuario */
.configurador-roles-user-info {

    background-color: var(--secondary-container-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--secondary-container-color);

    p {
        color: var(--text-color) !important;
        margin: 0.5rem;
    }
}

/* Contenedor de roles */
.configurador-roles-roles-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--secondary-container-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--secondary-container-color);
}

.config-roles-roles-text {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    gap: 0.5rem;
}

.configurador-roles-checkbox-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Checkboxes */
.configurador-roles-checkbox-content {
    display: flex;
    align-items: center;
    gap: 2rem;

    .basic-input-checkbox-container {
        height: 35px;
    }
}

/* .configurador-roles-checkbox {
    margin-right: 10px;
} */

/* .configurador-roles-label {
    font-size: 14px;
} */

.configurador-roles-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    gap: 1rem;
}


.configurador-roles-exit-button {
    background-color: var(--container-color);
    color: var(--button-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.configurador-roles-exit-button:hover {
    background-color: var(--container-color);
    color: var(--text-color);
}