.fullTipo-evento-serv-container {
    width: auto;
    max-width: 100%;
    padding: 2rem;
}

.tipo-evento-serv-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    width: auto;
    margin: 0 auto;
    background-color: var(--secondary-container-color);
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--secondary-container-color);
}

.tipo-evento-serv-header {
    color: var(--text-color);
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.tipo-evento-serv-input-container {
    display: flex;
    gap: 2rem;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
}


.tipo-evento-serv-input {
    padding: 1rem;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.tipo-evento-serv-textarea {
    padding: 1rem;
    border-radius: 5px;
    width: 100% !important;
    font-family: 'ScheherazadeNew';
    font-size: calc(8px + 2vmin);
    line-height: 1.3;
    color: var(--secondary-text-color);
    height: auto !important;
}

.tipo-evento-serv-preview {
    max-width: 400px;
    width: 100%;
    margin: auto;
}

.tipo-evento-serv-input-image {
    padding: 1rem;
    border: 1px solid #ccc;
    color: var(--text-color) !important;
    width: 100%;
}


.tipo-evento-serv-delete-button,
.tipo-evento-serv-exit-button {
    background-color: var(--container-color);
    color: var(--button-color);
}

.tipo-evento-serv-delete-button:hover,
.tipo-evento-serv-exit-button:hover {
    background-color: var(--container-color);
    color: var(--text-color);
}


.tipo-evento-serv-error {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

.tipo-evento-serv-success {
    color: green;
    text-align: center;
    margin-bottom: 10px;
}

.tipo-evento-serv-info {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-container-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--secondary-container-color);
    gap: 1rem;
}

.tipo-evento-serv-item {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    color: var(--text-color);
    padding: 1rem;
    border-bottom: 2px solid var(--container-color);

    div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
        align-self: center;
    }
}

.tipo-evento-serv-button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .tipo-evento-serv-item {

        flex-direction: column;
    }
}